BOT_TOKEN=YOUR_BALE_BOT_TOKEN_HERE
ADMIN_IDS=YOUR_ADMIN_CHAT_ID
CHANNEL_1=@your_channel
CHANNEL_2=@your_channel2
BOT_NAME=رسانه استخدامی همراکار
SLOGAN=✨ ما به توان انسان‌ها باور داریم ✨
SLOGAN_EMP=🏢 شریکِ مسیرِ رشدِ سازمان‌ها
THANKS=🙏 با تشکر از اعتماد شما
